<!doctype html>
<html lang="ru">
 <head> 
  <meta charset="utf-8"> 
  <title>Вакансии</title> 
 </head> 
 <body> 
  <table> 
   <tbody>
    <tr> 
     <th>Title</th> 
     <th>City</th> 
     <th>Company Name</th> 
     <th>Salary</th> 
    </tr> 
    <tr class="vacancy"> 
     <td class="title"><a href="http://javarush.ru">Junior Java Developer</a></td> 
     <td class="city">Entire World</td> 
     <td class="companyName">JavaRush</td> 
     <td class="salary">1mmm</td> 
    </tr> 
    <tr class="vacancy"> 
     <td class="title"><a href="http://javarush.ru">Junior Java Developer 2</a></td> 
     <td class="city">Entire World</td> 
     <td class="companyName">JavaRush</td> 
     <td class="salary">1к</td> 
    </tr> 
    <tr class="vacancy"> 
     <td class="title"><a href="https://saratov.hh.ru/vacancy/23208908?query=java%20Odessa">Senior Automation/Java QA&nbsp;Engineer (SDET)</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">LifeStreet Corporation</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://saratov.hh.ru/vacancy/22790485?query=java%20Odessa">Java Developer</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">ИП ElectricCloud</td> 
     <td class="salary">3&nbsp;000-5&nbsp;000 USD</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://saratov.hh.ru/vacancy/22631443?query=java%20Odessa">Container Engineer / Docker/ Kubernetes - Odessa or Remote</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">ИП ElectricCloud</td> 
     <td class="salary">3&nbsp;000-4&nbsp;500 USD</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://saratov.hh.ru/vacancy/23194850?query=java%20Odessa">Automation ‎QA Engineer</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">Petrosoft Inc.</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://saratov.hh.ru/vacancy/23136079?query=java%20Odessa">Senior Automation (Java) QA Engineer (SDET)</a></td> 
     <td class="city">Жуковский</td> 
     <td class="companyName">LifeStreet Corporation</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://saratov.hh.ru/vacancy/23019894?query=java%20Odessa">Senior java/python test automation engineer</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">Luxoft</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://saratov.hh.ru/vacancy/23208907?query=java%20Odessa">Senior Automation (Ja⁢va) QA Engineer SDET</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">LifeStreet Corporation</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://saratov.hh.ru/vacancy/23021397?query=java%20Odessa">Automation qa engineer</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">Luxoft</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://saratov.hh.ru/vacancy/23033947?query=java%20Odessa">Backend / Blockchain Developer/senior</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">Xim Inc. (Xtra Information Management)</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://saratov.hh.ru/vacancy/23012627?query=java%20Odessa">JS (backend) разработчик</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">ООО Центр Іноземних Мов Діалог</td> 
     <td class="salary">от 500 USD</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://saratov.hh.ru/vacancy/23307042?query=java%20Odessa">Perl Developer / Container (Docker)</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">ИП ElectricCloud</td> 
     <td class="salary">2&nbsp;500-4&nbsp;500 USD</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://saratov.hh.ru/vacancy/22842399?query=java%20Odessa">Senior PHP Developer</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">CAMO IT</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://saratov.hh.ru/vacancy/22377470?query=java%20Odessa">Системный администратор</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">Пивденный, Акционерный Банк</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://saratov.hh.ru/vacancy/23071645?query=java%20Odessa">Ведущий программист ( IBM)</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">Пивденный, Акционерный Банк</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://saratov.hh.ru/vacancy/23014296?query=java%20Odessa">Sales Manager</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">Startlightsoft</td> 
     <td class="salary">500-2&nbsp;000 USD</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://saratov.hh.ru/vacancy/23005303?query=java%20Odessa">Торговый агент</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">ИП ХарьковТОРГ</td> 
     <td class="salary">5&nbsp;000-10&nbsp;000 грн.</td> 
    </tr>
    <tr class="template" style="display: none"> 
     <td class="title"><a href="url"></a></td> 
     <td class="city"></td> 
     <td class="companyName"></td> 
     <td class="salary"></td> 
    </tr> 
   </tbody>
  </table>  
 </body>
</html>